/*素馨花卉 工作室部分开始*/
.su-work-box{
    width: 100%;
    height: 732px;
    padding: 30px 0;
}
.su-work-content{
    width: 1170px;
    height: 672px;
    padding: 0 15px;
    color: #37474f;
}
.content-editor{
    width: 1140px;
    height: 672px;
    padding: 30px;
}
.content-editor p{
    height: 32px;
    font-family: 微软雅黑;
    font-size: 16px;
    text-align: center;
    color: #222;
    font-weight: 300;
}
.mb{
    margin-bottom: 18px;
}
.hig{
    height: 0;
}
/*素馨花卉 工作室部分结束*/
